<div class="row">
    <div id="{{item.repo_loc}}" class="asset-list-item" ng-class="$state.current.data.listItemCss" ng-repeat="item in list track by item.repo_loc">
        <a ng-href="#/{{item.link}}" ng-click="select(item.repo_loc, $index)" class="thumbnail" ng-class="{'selected': $state.params.item == item.repo_loc}">
            <p class="small page-num">{{pageNum}}</p>
            <img ng-src="{{item.thumb_url}}" />
            <h5 class="item-title">{{title}}</h5>
        </a>
    </div>

    <div class="col-xs-12 text-center" ng-if="pager.show">
        <div pagination
             class="grid-pagination pagination-sm"
             ng-change="pageList()"
             total-items="pager.total"
             items-per-page="pager.perPage"
             ng-model="pager.current"
             max-size="pager.max"
             boundary-links="true"
             rotate="false"
             num-pages="pager.numPages"></div>
    </div>
</div>