<div class="col-xs-12 col-md-8 col-md-offset-2">
    <p class="text-right"><small class="text-muted">{{numFound}} item(s) found in {{queryTime}}s</small></p>
    <div class="media" ng-repeat="doc in results">
        <div class="thumbnail-results pull-left">
            <div class="pull-right">
                <a href="#/{{doc.link}}" class="search-thumbnail-wrapper">
                    <img ng-src="{{doc.thumb_path}}" class="media-object search-thumbnail" />
                </a>

                <div class="clearfix"></div>
                <div class="text-muted">{{doc.date}}</div>

            </div>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a ng-href="#/{{doc.link}}" class="title" title="{{doc.title}}">
                    {{doc.title}}
                </a>
                <small class="clearfix">{{doc.subtitle}}</small>
            </h4>
            <p ng-show="doc.description">{{doc.description | truncate:300}}</p>


            <div class="row" ng-show="doc.details">
                <div class="details hidden-xs col-sm-{{doc.details|columnSize}}" ng-repeat="(title, detail) in doc.details">
                    <div class="detail-title text-muted"><small>{{title}}(s)</small></div>
                    <div class="detail" ng-repeat="det in detail | limitTo:4 track by $index">{{det}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center" ng-show="numFound > limit">
    <div pagination class="pagination" ng-change="pageChanged()" total-items="numFound" items-per-page="limit" ng-model="page" max-size="16" boundary-links="true" rotate="false"></div>
</div>